
<div class="row">
    <div class="col-xs-12 text-center">
        <p class="footer-text">
            <a href="https://github.com/dominiol/wydatki">wydatki 1.0</a> | created by Dominik Zakrzewski
        </p>
    </div>
</div>